/* Main App / general*/

body {
  font-family: 'Merriweather', serif;
  color: #1A535C;
}

button:hover {
  cursor: pointer;
  outline: none;
}

.App {
  display: flex;
  margin: auto;
  width: 900px;
}

/* Main Body */

.main-body {
  width: 600px;
  height: 100%;
}

/* Header */

#header {
  background-color: #FFE66D;
  margin: 0;
}

h1 {
  padding: 20px;
  margin: 0;
}

.menu-item {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-align: center;
  /*transition: background 250ms ease-in-out, transform 150ms ease;*/
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: #CCAA00;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  width: 150px;
  background-color: #F5CC00;
}

.menu-item:focus {
  border-width: 0 0 1px 0;
  outline: none;
  background-color: #FFE66D;
}

#navbar {
  display: flex;
}

/* Room */

.room h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  color: white;
}

.room {
  background-size: 600px auto;
  background-repeat: no-repeat;
  height: 400px;
  margin: 0;
  padding: 10px;
}

.room-container {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
}

.activity-button {
  border: none;
  display: block;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  outline: none;
  padding: 8px 0 8px 0;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  width: 400px;
  background-color: rgba(45, 144, 159, 0.8);
}

.activity-button:hover {
  background-color: rgba(26, 83, 92, 0.8);
}

/* Side Page */

.side-page {
  width: 300px;
  font-family: 'Indie Flower', cursive;
  font-size: 19px;
  padding: 10px;
  height: 490px;
}

.side-page h2 {
  padding: 0;
  margin: 0 2px 2px 2px;
}

.side-page button {
  border: none;
  display: block;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  outline: none;
  padding: 8px 0 8px 0;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  width: 250px;
  background-color: #ff3333;
}